# Ignore node_modules directory
node_modules/

# Ignore build output
build/

# Ignore environment variable files
.env

# Ignore logs
*.log

# Ignore OS-specific files
.DS_Store
Thumbs.db
# Ignore build output directory
dist/

# Firebase cache files
.firebase/

# Firebase debug log
firebase-debug.log
firebase-debug.*.log
