.App {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  color: #333;
}

.banner {
  background-color: #f8f8f8;
  padding: 10px 20px;
  border-bottom: 2px solid #FF8C00;
}

.banner-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.banner-title {
  font-size: 2.5em; /* Match the size of other h1 elements */
  color: #333;
  margin: 0;
}

.banner-nav a {
  margin-left: 20px;
  text-decoration: none;
  color: #FF8C00;
  font-weight: bold;
}

.banner-nav a:hover {
  text-decoration: underline;
}

h1, h2 {
  font-size: 2.5em;
  color: #333;
}

.about-section {
  display: flex;
  margin-bottom: 40px;
}

.about-image {
  flex: 1;
  margin-right: 20px;
}

.about-image img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.about-text {
  flex: 2;
}

h2 {
  font-size: 1.8em;
  margin-bottom: 10px;
  color: #333;
  border-bottom: 3px solid #FF8C00;
  display: inline-block;
  padding-bottom: 5px;
}

p {
  line-height: 1.6;
  margin-bottom: 20px;
}

.recent-posts {
  margin-top: 40px;
}

.recent-posts h2 {
  margin-bottom: 20px;
}

.article-detail h1 {
  color: #333; 
  border-bottom: 3px solid #FF8C00; 
  display: inline-block; 
  padding-bottom: 5px; 
}

.article-detail {
  padding: 20px;
}

.article-detail p {
  margin-bottom: 1em;
}